In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import re
dfAlvHate=pd.read_csv('/content/drive/MyDrive/TLS stuff/Scraped accounts/Negative-Alametsa/_NEGATIVEALAMETSA2.csv',low_memory=False,  lineterminator='\n', sep=',')
Text= dfAlvHate["text"]
Mentions=[]
dfAlvHate['mentions_extracted'] = dfAlvHate.text.str.findall(r'@([a-zA-Z0-9_]{1,50})').apply(','.join)
#print(dfAlvHate.head())
dfAlvHate = dfAlvHate.assign(mentions_extracted=dfAlvHate['mentions_extracted'].str.split(',')).explode('mentions_extracted')
csv_data_mentions = dfAlvHate[dfAlvHate['mentions_extracted'].str.strip().astype(bool)]
csv_data = csv_data_mentions
#print(csv_data)
nodelist = pd.DataFrame({'screen_name	':csv_data['screen_name'], 'mention':csv_data['mentions_extracted']})
nodes = pd.DataFrame({'Id':nodelist.iloc[:,0], 'Label':nodelist.iloc[:,0]})
print(nodes)
edges = pd.DataFrame({'Source':nodelist.iloc[:,0], 'Target':nodelist.iloc[:,1]})
print(edges)
edges.to_csv('AlametsaTimelineEdges.csv',index=False)
nodes.to_csv('AlametsaTimelineNodes.csv',index=False)

Mounted at /content/drive
                 Id        Label
0       nameshakehe  nameshakehe
1       nameshakehe  nameshakehe
2       nameshakehe  nameshakehe
3       nameshakehe  nameshakehe
3       nameshakehe  nameshakehe
...             ...          ...
547954      DiVpops      DiVpops
547955      DiVpops      DiVpops
547956      DiVpops      DiVpops
547957      DiVpops      DiVpops
547958      DiVpops      DiVpops

[855628 rows x 2 columns]
             Source          Target
0       nameshakehe    Tub_Thumperz
1       nameshakehe    Tub_Thumperz
2       nameshakehe    Tub_Thumperz
3       nameshakehe   Rizwan_Design
3       nameshakehe         8Bobcat
...             ...             ...
547954      DiVpops      arunbothra
547955      DiVpops    Tiny_Dhillon
547956      DiVpops        cardio73
547957      DiVpops        cardio73
547958      DiVpops  wildontheright

[855628 rows x 2 columns]

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import re
dfLarHate=pd.read_csv('/content/drive/MyDrive/TLS stuff/Scraped accounts/Negative-Larrouturou/_NEGATIVELARROUTUROU2.csv',low_memory=False,  lineterminator='\n', sep=',')
Text= dfLarHate["text"]
Mentions=[]
dfLarHate['mentions_extracted'] = dfLarHate.text.str.findall(r'@([a-zA-Z0-9_]{1,50})').apply(','.join)
#print(dfLarHate.head())
dfLarHate = dfLarHate.assign(mentions_extracted=dfLarHate['mentions_extracted'].str.split(',')).explode('mentions_extracted')
csv_data_mentions = dfLarHate[dfLarHate['mentions_extracted'].str.strip().astype(bool)]
csv_data = csv_data_mentions
#print(csv_data)
nodelist = pd.DataFrame({'screen_name	':csv_data['screen_name'], 'mention':csv_data['mentions_extracted']})
nodes = pd.DataFrame({'Id':nodelist.iloc[:,0], 'Label':nodelist.iloc[:,0]})
print(nodes)
edges = pd.DataFrame({'Source':nodelist.iloc[:,0], 'Target':nodelist.iloc[:,1]})
print(edges)
edges.to_csv('LarrouturouTimelineEdges.csv',index=False)
nodes.to_csv('LarrouturouTimelineNodes.csv',index=False)

Mounted at /content/drive
                 Id        Label
2        ra54077891   ra54077891
2        ra54077891   ra54077891
2        ra54077891   ra54077891
2        ra54077891   ra54077891
2        ra54077891   ra54077891
...             ...          ...
346667  ranveer2252  ranveer2252
346668  ranveer2252  ranveer2252
346669  ranveer2252  ranveer2252
346669  ranveer2252  ranveer2252
346671  ranveer2252  ranveer2252

[551003 rows x 2 columns]
             Source          Target
2        ra54077891     larrouturou
2        ra54077891        zoo_bear
2        ra54077891         AltNews
2        ra54077891        PMOIndia
2        ra54077891      India_NHRC
...             ...             ...
346667  ranveer2252   krishnanrohit
346668  ranveer2252   aubreystrobel
346669  ranveer2252  cryptocheshire
346669  ranveer2252         balajis
346671  ranveer2252      nat_lennon

[551003 rows x 2 columns]